<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include ./header/styles.ejs %>
  </head>
  <body>
      <% include ./header/nav.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% include ./footer/footer.ejs %>
  </body>
</html>
